@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(255, 255, 255);
  --background-rgb-darker:rgb( 242, 242, 242);
  --text-rgb:rgb( 25, 25, 25);
  --sidebar-rgb:rgb(249, 249, 249);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: rgb( 33, 33, 33);
    --background-rgb-darker:rgb( 20, 20, 20);
    --text-rgb: rgb(255, 255, 255);
    --sidebar-rgb:rgb(37, 39, 40);

  }
}

.responsiveWidth{
  @apply w-full QHD:w-3/4 WQHD:w-2/3 mx-auto ;
}

.input{
  @apply border-1 border-colorGray/30 hover:border-colorGray/70 px-5 py-4 outline-none bg-transparent text-lg rounded-md text-[--text-rgb]
}
.disabledInput{
  @apply rounded-md border-1 border-colorGray/30 bg-transparent px-5 py-4 text-lg text-colorGray/60 outline-none
}
.sidebarButton{
  @apply flex items-center gap-x-3 rounded-lg pl-3 pr-4 py-1.5 transition-all hover:bg-colorGray/30
} 
.listButton{
  @apply flex items-center font-medium gap-x-3 rounded-lg pl-3 pr-4 py-1 transition-all hover:bg-colorGray/30
} 
